---

# - name: Get TKGS endpoint

#   when: tanzu_vsphere is defined

- name: Build outputs
  set_fact:
    build_outputs: >-
      {
        "vcenter": {
          "ip": "{{ nested_vcenter.ip }}",
          "username": "{{ nested_vcenter.username }}",
          "password": "{{ nested_vcenter.password }}"
        },
        "esxi_hosts": [
          {% for host in nested_hosts %}
          {
            "name": "{{ environment_tag }}-{{ host.name }}",
            "ip": "{{ host.ip }}",
            "root_password": "{{ nested_host_password }}"
          },
          {% endfor %}
        ],
        {% if nsxt is defined %}
        "nsxt": {
          "manager_ip": "{{ nsxt.manager.ip }}",
          "edge_ips": [
            {% for edge in nsxt.edge_nodes %}
            "{{ edge.mgmt_ip_address }}",
            {% endfor %}
          ],
          "username": "{{ nsxt.manager.username }}",
          "password": "{{ nsxt.manager.password }}",
          {% if "tier_0" in nsxt and "locale_services" in nsxt.tier_0 and "interfaces" in nsxt.tier_0.locale_services[0] %}
          "t0_uplink": "{{ nsxt.tier_0.locale_services[0].interfaces[0].subnets[0].ip_addresses[0] }}"
          {% endif %}
        },
        {% endif %}
        {% if tanzu_vsphere is defined %}
        "tanzu_vsphere": {
          {% if tkg_router is defined %}
          "router" :{
            "uplink_ip": "{{ tkg_router.uplink_ip_cidr.split('/')[0] }}",
            "username": "vyos",
            "password": "vyos"
          },
          {% endif %}
          {% if tkg_haproxy is defined %}
          "haproxy": {
            "username": "{{ tkg_haproxy.username }}",
            "password": "{{ tkg_haproxy.password }}",
            "root_password": "{{ tkg_haproxy.root_pwd }}",
            "management_ip": "{{ tkg_haproxy.management_ip }}",
            "management_port": "{{ tkg_haproxy.management_port }}"
          },
          {% endif %}
        },
        {% endif %}
        {% if harbor is defined %}
        "harbor": {
          "ip": "{{ harbor.ip }}",
          "vm_ssh_username": "{{ harbor.username }}",
          "vm_ssh_password": "{{ harbor.password }}",
          "admin_username": "admin",
          "admin_password": "{{ harbor.password }}"
        },
        {% endif %}
        {% if tanzu_multi_cloud.generated_config_file_name is defined %}
        "tanzu_multi_cloud": {
          "config_file": "{{ playbook_dir }}/{{ tanzu_multi_cloud.generated_config_file_name }}"
        },
        {% endif %}

      }

- name: Display Build environment
  debug:
    # msg:
    #   - Deployment complete. Below is what has been configured.
    var:
      build_outputs
