---
controller_ip: "{{ nsx_alb.controller_ip }}"
controller_username: "{{ nsx_alb.controller_username }}"
controller_password: "{{ nsx_alb.controller_password }}"
api_version: "{{ nsx_alb.api_version }}"

avi_credentials:
  controller: "{{ controller_ip }}"
  username: "{{ controller_username }}"
  password: "{{ controller_password }}"
  api_version: "{{ api_version }}"

se_vcenter_cluster: "{{ nsx_alb.se_vcenter_cluster }}"
# The management network will host he service engine management interface
se_management_port_group: "{{ nsx_alb.se_management_port_group }}"
se_management_network_cidr: "{{ nsx_alb.se_management_network_cidr }}"
se_management_network_range: "{{ nsx_alb.se_management_network_range }}"
se_management_network_gateway: "{{ nsx_alb.se_management_network_gateway }}"
# The vip network will contain the virtual servers created by Avi
se_vip_port_group: "{{ nsx_alb.se_vip_port_group }}"
se_vip_network_cidr: "{{ nsx_alb.se_vip_network_cidr }}"
se_vip_network_range: "{{ nsx_alb.se_vip_network_range }}"
se_vip_network_gateway: "{{ nsx_alb.se_vip_network_gateway }}"

dummy_service_subnet_addr: "{{ nsx_alb.dummy_service.subnet_addr }}"
dummy_service_subnet_mask: "{{ nsx_alb.dummy_service.subnet_mask }}"
dummy_service_network_name: "{{ nsx_alb.dummy_service.network_name }}"