#cloud-config
package_update: false
package_upgrade: false

hostname: {{ ubuntu_client_hostname }}
fqdn: {{ ubuntu_client_hostname }}
manage_etc_hosts: true

users:
- default
- name: {{ ubuntu_client_username }}
  sudo: ALL=(ALL) NOPASSWD:ALL
  groups: sudo
  shell: /bin/bash
  lock_passwd: False
  plain_text_passwd: {{ ubuntu_client_password }}
ssh_pwauth: yes

write_files:
  - path: /etc/cloud/cloud.cfg.d/99-custom-networking.cfg
    permissions: '0644'
    content: |
      network: {config: disabled}
  - path:  /etc/netplan/custom-static-ip-config.yaml
    permissions: '0644'
    content: |
      network:
        version: 2
        ethernets:
          ens192:
            dhcp4: false
            dhcp6: false
            addresses:
            - {{ ubuntu_client_ip_address }}
            routes:
            - to: default
              via: {{ ubuntu_client_gateway }}
            nameservers:
              addresses:
              - {{ ubuntu_client_nameserver }}

runcmd:
 - [sudo, rm, /etc/netplan/50-cloud-init.yaml]
 - [sudo, ifconfig, ens192, up]
 - [sudo, netplan, generate]
 - [sudo, netplan, apply]
