---
name: 'Yamllint GitHub Actions'
on:
  - push
  - pull_request
jobs:
  yamllint:
    name: 'yaml-lint'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'yaml-lint'
        uses: ibiqlik/action-yamllint@v3
        with:
          format: standard
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}


